@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
body {
  background-color: #000 ;
  color: white ;
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  color: #f00 ;
}
ul,
ol,
li,
a {
  text-decoration: none ;
  list-style-type: none ;
}
.hero-img {
  background-image: url(Asset/image/hero1.png);
  max-width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#header-img {
  width: 212px;
  margin: 0;
  padding-top: 7px;
}
/* svg--logo */
#Anime a:hover{
  color: #dc143c;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

ul.side-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 17px;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  border: 0.5rem transparent solid;
  padding-left: 0;
  padding-right: 0;
}
.sign {
  margin-right: 14px;
}

.side-navbar li a:hover {
  background-color: black;
  border: 8px black solid;
  border-radius: 25px;
}
/* ------login-from----------------------- */

.login-card {
  display: none !important;
  background-color: #09111b;
  line-height: 30px;
  display: flex;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px black solid;
  min-height: 350px;
  min-width: 250px;
  max-width: 350px;
  position:fixed;
  z-index: 9999;
}
.card {
  width: 100%;
}
.log-title {
  text-align: center;
  font-weight: 800;
}
.login-card input {
  margin: 0.2rem;
  width: 90%;
  height: 1.4rem;
  color: aliceblue;
  background-color: #090d1b;
  border: 2px #090d1b solid;
}
.sign {
  text-align: end;
}
.login-card button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
.sign-up {
  text-align: right;
}
/* description */
.wel-colr {
  color: #dc143c;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.wel-card {
  color: #aeaeae;
  position: absolute;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* border: #361536 solid; */
  margin: 0;
  padding: 85px 0 0 46px;
  font-size: large;
  width: max(550px) !important;
  height: max(320px) !important;
}
/* feature----------- */
.feature {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin:  auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
img.feature-icon {
  width: 5rem;
}
.feature-title {
  text-align: center;
}
.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.qut {
  color: #dc143c;
  font-family: "Arvo", serif;
  font-size: 25px;
}
.feature p {
  font-family: "Merriweather", serif;
}
li.feature-points {
  background-color: #1a1717;
  width: 25%;
  text-align: center;
  padding: 2rem;
}

/* ---------plans------------------- */

.plan-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 37px auto;
  width: 100%;
}
.plan-head {
  font-family: "Arvo", serif;
  font-size: 25px;
  text-align: center;
  color: #dc143c;
  text-decoration: underline;
  text-decoration-color: rgb(54, 21, 54);
}
.plan {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
}
.plan ul{
  padding: 0;
}
.basic-title{
text-align: center;
background-color: blue;
}
.plan-b {
  padding: 12px;
  width: 205px;
  border: 1px blue solid;
  border-radius: 16px;
}
.basic-btn{
  color: white;
  background-color: blue;
  border: 1px solid rosybrown;
  font-size: 1.5rem;
  text-align: center;
  width: 61px;
  margin: 119px auto 0;
}
.pro-title{
  text-align: center;
  background-color: red;
}
.plan-p{
  padding: 12px;
  width: 205px;
  border: 1px red solid;
  border-radius: 16px;
}
.pro-btn{
  color: white;
  background-color: red;
  border: 1px solid magenta;
  font-size: 1.5rem;
  text-align: center;
  width: 61px;
  margin: auto ;
}
/* -------end plan--=-------- */
/* ------------footer----------- */
#last {
  border: solid transparent;
  background-color: transparent;
}
#re {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Lora", serif;
}
#link ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: auto;
  padding: 0;
  margin-top: -10px;
  margin-inline: auto;
}
/* #profile-link {
} */
.icon {
  text-align: center;
  margin: 0.8rem;
}
#end {
  text-align: right;
  font-size: 1.2rem;
}
@media screen and (min-width: 180px) {
  #plan {
    width: 30%;
    font-size: 5px;
    flex-flow: row wrap;
  }
}
